{% extends 'base.html.twig' %}


{% block title %}Portfolio Lila{% endblock %}


{% block body %}

{% include "_navbar.html.twig" %}

<div class="first_background p-5 mb-5">
  <div class="black_div col-4 p-3 ms-5">
      <h1 class="fw-bolder col-2">Introduction</h1>
      <button class="navbar-toggler" type="button" data-bs-target="#allthetext" data-bs-toggle="collapse" aria-expanded="false" aria-controls="allthetext">
      <div class="text-start mb-1">Pour moi, être artiste n’est pas un choix. 
      Être artiste, c’est comme avoir des yeux bleus, ça fait partie de moi et je ne l’ai pas choisi. >>>>
      </div></button>
      <p class="collapse mb-lg-0" id="allthetext">
      La parole n’est pas suffisante pour exprimer toute la gamme de ce que je veux partager.
      Par conséquent, je travaille avec d’autres matériaux et plutôt que « travailler », je préfère utiliser le terme « jouer ».
      Je joue avec la matière, les mots, des pinceaux, des couleurs, une caméra, un ordinateur… et lentement, pas à pas, le jeu se 
      construit, s’agence pour prendre sa place non plus comme des morceaux de rien mais un équilibre de tout.
      </p>
  </div>
</div>
<div class="text-center mb-5">
  <h1 class="fw-bolder fs-2" id="galerie">GALERIE</h1>
</div>
  <ul class="grid mb-5">
      {% for onecreation in creations %}
      <li>
        <!-- Button trigger modal -->
          <img type="button" class="" data-bs-toggle="modal" data-bs-target="#creationModal{{onecreation.id}}" 
          src="{{ asset('build/images/' ~ onecreation.image) }}" alt="{{onecreation.title}}">
       </li>
      {% endfor %}
  </ul>
      {% for onecreation in creations %}
        <!-- Modal -->
        <div class="modal fade" id="creationModal{{onecreation.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">{{onecreation.title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
              <img class="modalImg" src="{{ asset('build/images/' ~ onecreation.image) }}" alt="{{onecreation.title}}">
              </div>
              <div class="text-dark ms-3">{{onecreation.description}} - {{onecreation.size}} - {{onecreation.price}}€</div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
<div class="text-center mb-5">
  <h1 class="fw-bolder fs-2" id="ecriture">ECRITURE</h1>
</div>
<div class="mb-5 justify-content-center">
  <ul class="gridBook mb-5">
      {% for onebook in books %}
      <li>
        <!-- Button trigger modal -->
          <img type="button" class="" data-bs-toggle="modal" data-bs-target="#creationModal{{onebook.id}}" 
          src="{{ asset('build/images/' ~ onebook.image) }}" alt="{{onebook.title}}">
       </li>
      {% endfor %}
  </ul>
      {% for onebook in books %}
        <!-- Modal -->
        <div class="modal fade" id="creationModal{{onebook.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">{{onebook.title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
              <img class="modalImg" src="{{ asset('build/images/' ~ onebook.image) }}" alt="{{onebook.title}}">
              </div>
              <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-secondary col-2 me-5"><a aria-current="page" class="buy" target="_blank" href="{{onebook.link}}">Acheter</a></button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
</div>
{% include "_footer.html.twig" %}

{% endblock %}



